$base-light: #fff;

@media screen {
  .container{
    text-align: center;
    margin: 0 auto;
    max-width: 1120px;
  }
  header{
    font-size: 20px;
    margin-bottom: 20px;
  }

  input{
    padding: 3px;
  }

  button{
    padding: 3px;
    margin-left: 3px;
    color: $base-light;
    background-color: cornflowerblue;
    cursor: pointer;
  }
  img{
    border-radius: 50%;
  }

  #renderList{
    margin: 20px auto;
    table {
      margin: 0 auto;
    }
    td, th {
      width: 10rem;
      min-height: 2rem;
      border: 1px solid #ccc;
      text-align: center;
      padding: 5px;
    }
    th {
      background: lightblue;
      border-color: white;
    }
  }
}
