$base-light: #fff;

@media screen {
  .container{
    text-align: center;
    margin: 0 auto;
    max-width: 1120px;
  }
  header{
    font-size: 20px;
    margin-bottom: 20px;
  }

  input{
    padding: 3px;
  }

  button{
    padding: 3px;
    margin-left: 3px;
    color: $base-light;
    background-color: cornflowerblue;
    cursor: pointer;
  }
}
